/* Colours
#360259 Purple
#5B118C Light Purple
#F2EDE4 Light Yellow
#8C5B49 Brown
#402927 Dark Brown
---------------------------------------- */

/* Global Styles
---------------------------------------- */
body {
}

/* About
---------------------------------------- */
.about {
  background-color: #5b118c;
  color: #fff;
}

/* Projects
---------------------------------------- */
.projects {
  background-color: #f2ede4;
  color: #000;
}

/* Work experience
---------------------------------------- */
.work-experience {
  background-color: #8c5b49;
  color: #fff;
}

/* Education
---------------------------------------- */
.education {
  background-color: #f2ede4;
}

/* Contact info
---------------------------------------- */
footer {
  background-color: #360259;
  color: #fff;
}
